<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.moodswings">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".splash">
            <intent-filter>
                <action android:name="android.intent.action.VIEW"/>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".fullimage"
            android:theme="@style/fullviewtheme"
        />
        <activity android:name=".MainActivity" />
        <activity android:name=".dep2" />
        <activity android:name=".hori2" />
        <activity android:name=".soso2" />
        <activity android:name=".awe2" />
        <activity android:name=".dep3" />
        <activity android:name=".hori3" />
        <activity android:name=".awe3" />
        <activity android:name=".soso3" />
        <activity android:name=".dep4" />
        <activity android:name=".awe4" />
        <activity android:name=".soso4" />
        <activity android:name=".hori4" />
        <activity android:name=".slide1" />
        <activity android:name=".movie1"
            android:theme="@style/fullviewmovie"
            />
        <activity android:name=".photodep"/>
    </application>

</manifest>